In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('output_file.csv')

In [3]:
df.head()

,brokered_by,status,price,bed,bath,acre_lot,street,city,state,zip_code,house_size,prev_sold_date
0,51869.0,sold,1250000.0,4.0,2.0,8.21,968657.0,Orofino,Idaho,83544.0,3504.0,2022-03-25
1,53333.0,for_sale,1500000.0,NaN,NaN,10.12,865311.0,Powder Springs,Georgia,30127.0,NaN,NaN
2,65559.0,for_sale,109900.0,2.0,1.0,0.12,974715.0,Sulphur,Louisiana,70663.0,1421.0,NaN
3,940.0,for_sale,225000.0,3.0,2.0,NaN,1090504.0,Glenview,Illinois,60025.0,1600.0,NaN
4,107929.0,sold,999000.0,5.0,3.0,0.46,1406903.0,Andover,Massachusetts,1810.0,3844.0,2022-03-11

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 22264 entries, 0 to 22263
Data columns (total 12 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   brokered_by     22233 non-null  float64
 1   status          22264 non-null  object
 2   price           22249 non-null  float64
 3   bed             17506 non-null  float64
 4   bath            17195 non-null  float64
 5   acre_lot        19015 non-null  float64
 6   street          22154 non-null  float64
 7   city            22246 non-null  object
 8   state           22264 non-null  object
 9   zip_code        22260 non-null  float64
 10  house_size      16597 non-null  float64
 11  prev_sold_date  14940 non-null  object
dtypes: float64(8), object(4)
memory usage: 2.0+ MB